/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* WEST BANK STORY STYLES */

body {
  background-image: url('../images/bg.gif');
  background-color: #990000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: x-small;
}

body a,
body a:link,
body a:visited,
body a:hover,
body a:active {
  text-decoration: none;
  color: #990000;
}

strong {
  font-weight: 600;
}

main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.content-wrapper {
  position: relative;
}

.banner {
  position: absolute;
  box-sizing: border-box;
  padding: 5px;
  height: 46px;
  width: 98%;
  left: 50%;
  top: -50px;
  transform: translateX(-50%);
  background-color: #000;
  color: #FFF;
}

.banner-content {
  border: 1px solid #EFB949;
  padding: 5px 2px 2px 2px;
}

.banner-content h2, h3 {
  display: inline-block;
  vertical-align: middle;
  padding-left: 7px;
  padding-right: 7px;
  font-weight: 600;
}

.banner-content h2 {
  font-size: 26px;
}

.banner-content h2 sup {
  font-size: 50%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.65em;
}

.banner-content h3 {
  font-size: 15px;
}

.content {
  width: 231px;
  height: 279px;
  position: absolute;
  top: 125px;
  left: 160px;
}

.content.content-sub-page {
  top: 170px;
  left: 175px;
  width: 60%;
}

.content.content-sub-page.festivals {
  width: 71%;
  height: auto;
}

.content.content-sub-page.photos {
  width: 74%;
  height: auto;
}

.content.content-sub-page.festivals p {
  padding-left: 0;
}

.content.content-sub-page .heading {
  margin-bottom: 20px;
}

.content.content-sub-page p {
  padding-left: 15px;
  font-size: 12px;
  line-height: 1.4;
}

td {
  padding-bottom: 10px;
}

td.left {
  width: 30%;
  font-weight: 600;
}

.two-column-table td {
  line-height: 1.3;
  padding-bottom: 0;
}

.content nav {
  display: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}

.content nav li {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

.content nav li a.active {
  border-bottom: 2px solid #990000;
}

.content p {
  font-size: 11px;
  margin-bottom: 10px;
}

.content .logo {
  display: none;
  margin: 0 auto;
}

.gallery {
  margin-bottom: 20px;
}

.gallery figure {
  display: inline-block;
  vertical-align: top;
  width: 25%;
}

.gallery figure img {
  max-width: 100%;
  margin-bottom: 5px;
}

.gallery figure figcaption {
  text-align: center;
  font-size: 12px;
}

.gallery figure:first-child {
  width: 21%;
}

.gallery figure:nth-child(2) {
  width: 20%;
}

.gallery figure:nth-child(3) {
  width: 22%;
}

.gallery figure:last-child {
  width: 30%;
}

.gallery.just-images img {
  margin: 0 10px 20px;
  max-width: 200px;
  vertical-align: top;
}

.photo-download {
  text-align: center;
}

.copyright {
  position: absolute;
  left: 20px;
  bottom: 0;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 700px) {
  body {
    font-size: 100%;
  }

  main {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }

  map {
    display: none;
  }

  .content-wrapper {
    display: flex;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    height: 100vh;
  }

  .banner {
    position: relative;
    width: 93%;
    height: auto;
    left: inherit;
    top: inherit;
    transform: translateX(0);
  }

  .content-background {
    display: none;
  }

  .content {
    width: 100%;
    height: auto;
    position: relative;
    top: 0;
    left: 0;
    margin: 20px;
    padding: 20px;
    background: 
      linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%,rgba(249, 231, 191, 1) 100%),
      #FFF;
    border-radius: 20px;
    border: 3px solid #ECBC4C;
    box-shadow: 0 0 0 3px #000;
  }

  .content.content-sub-page {
    width: 100%;
    height: auto;
    position: relative;
    top: inherit;
    left: inherit;
  }

  .content.content-sub-page.festivals {
    width: 100%;
    font-size: 14px;
    position: relative;
    top: inherit;
    left: inherit;
    height: auto;
  }

  td {
    display: block;
    width: 100%;
    line-height: 1.4;
  }

  td strong {
    display: block;
  }

  td.left {
    width: 100%;
    padding-bottom: 0;
  }


  .content.content-sub-page .heading {
    max-width: 100%;
  }

  .content nav {
    display: block;
  }

  .content p {
    font-size: 16px;
    margin-bottom: 20px;
    line-height: 1.4;
  }

  .content p:last-child {
    margin-bottom: 0;
  }

  .content .logo {
    display: block;
    margin-bottom: 20px;
  }

  .gallery figure,
  .gallery figure:first-child,
  .gallery figure:nth-child(2),
  .gallery figure:nth-child(3),
  .gallery figure:last-child {
    width: 48%;
    margin-bottom: 20px;
  }

  .gallery figure figcaption {
    text-align: left;
  }

  .gallery.just-images {
    text-align: center;
  }

  .gallery.just-images img {
    margin: 0 10px 20px;
    max-width: 200px;
    vertical-align: top;
  }

  .copyright {
    position: relative;
    bottom: inherit;
    left: inherit;
    text-align: center;
    padding-bottom: 20px;
  }
}
